/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800;900&display=swap');

/* shared styles */

* {
    margin: 0px;
    padding: 0px;
    border: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
    --Dark-02: #424247;
}

/* header styles start  */
header {
    margin: 20px 100px;
}

.logo {
    display: flex;
}

.halal {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

span {
    color: var(--primary-color);
}

.mainMenu .orange {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

/* navbar style end  */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-image: url('../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 3rem 0;
}

.explore {
    position: relative;
    top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    position: relative;
    top: 100px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 200px;
}

.input-field{
    display: flex;
    justify-content: center; 
}
.input {
    height: 70px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: relative;
    top: -250px;
    gap: 10px;
    margin: 3px 180px;
}

.input-field {
    margin-top: 7px;
}

.where-go {
    height: 52px;
    width: 170px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.when,
.select {
    height: 52px;
    width: 170px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding: 9px;
    border: none;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
} 

.find-now {
    height: 52px;
    width: 170px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 9px;
    border: none;
    margin-right: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
}

/* main styles start*/
.popular-section {
    margin: 20px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 90%;
}

.popular-tour {
    color: #131318;
    text-align: center;
    font-size: 3.12rem;
    font-weight: 800;
    margin-top: 15px;
}

.popular-p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.popular>li {
    list-style-type: disc;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.popular-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.popular-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    padding: 15px;
    border: none;
    margin-top: 20px;
}

/* chose tour destination start */
.destination-section {
    margin: 50px 100px;
}

.destination-text {
    color: #131318;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 800;
    margin: 15px 0px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0px;
    padding: 20px 100px;
}

.maldives {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.first-text {
    position: relative;
    top: -170px;
    color: #FFF;
    text-align: flex-start;
    font-size: 1.75rem;
    font-weight: 800;
    padding-left: 200px;
}

.second-text {
    position: relative;
    text-align: end;
    top: -200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    padding-right: 170px;
}

.kashmir {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.four,
.five,
.six {
    position: relative;
    top: -200px;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
}

.bangladesh-section {
    margin: 20px 100px;
}

.bangladesh-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px
}

.seven {
    position: relative;
    top: -170px;
    padding-right: 650px;
}

.seven,
.eight {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
}

.eight {
    position: relative;
    top: -190px;
    padding-left: 500px;
}

/* chose tour destination end  */
/* why chose us section stars */
.chose-us {
    color: #131318;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 800;
}

.chose-us-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.chose-us-div {
    margin: 30px 100px;
    display: flex;
    gap: 40px;
}

.Handpicked-Hotels {
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.hotels-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.primary {
    padding-bottom: 10px;
}

.world-class-service {
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}

.best-price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0px 400px;
    padding: 30px;
}

.world-heading,
.price-heading,
.Hotels {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

/* world class section start */
.world-class-section {
    width: 90%;
    margin: 30px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.world-class-div {
    margin-left: 10px;
    width: 50%;
}

.simple {
    color: #131318;
    font-size: 3.1rem;
    font-weight: 800;
}

.simple-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.video {
    width: 50%;
}

.video-list {
    height: 400px;
    width: 600px;
}

ul>.disc {
    list-style-type: disc;
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}

.see-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    height: 52px;
    width: 174px;
    margin-top: 10px;
}

.newsletter-section {
    height: 430px;
    width: 90%;
    margin: 50px 100px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Newsletter-div {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
}

.news-text {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

.block {
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 10px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 20px 10px;
    width: 250px;
    border: none;
}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 10px;
    margin: 10px 20px 10px;
    width: 270px;
    border: none;
}

/* main styles end */

/* footer styles */
footer {
    max-width: 1250px;
    height: 450px;
    background: rgba(19, 19, 24, 0.05);
    padding: 50px;
    text-align: center;
}

.footer-div {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.footer-description {
    margin-bottom: 70px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#footer-icon{
    height: 24px;
    width: 18px;
}
.footer-hr {
    margin: 70px 90px;
}
